{{> dashboard-header}}

<article>
    <div class="card mx-auto">
        <div class="card-header">
            <span>Edit Post</span>
        </div>

        <div class="card-body">
            <form class="edit-post-form">
                <div>
                    <label>Title</label>
                    <br>
                    <input name="post-title" type="text" value="{{post.title}}" />
                </div>
                <div>
                    <label>Content</label>
                    <br>
                    <textarea id="post-content" name="post-content">{{post.content}}</textarea>
                </div>
                <br>
                <div>
                    <button type="submit">Update Post</button>
                    <p></p>
                    <button type="button" class="delete-post-btn">Delete</button>
                </div>
            </form>
        </div>
    </div>
</article>


<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>