{{> main-header}}

<div class="card mx-auto">
    <div class="card-header">
      <span>Login</span>
    </div>

    <div class="card-body">
        <form class="login-form">
          <div>
            <label for="username-login">Username</label>
            <br>
            <input type="text" id="username-login" />
          </div>
          <div>
            <label for="password-login">Password</label>
            <br>
            <input type="password" id="password-login" />
          </div>
          <br>
          <div>
            <button type="submit">Login!</button>
          </div>
        </form>
        <p>
        <a href="/signup">Sign up instead</a>
        </p>
    </div>
</div>

<script src="/js/login.js"></script>