{{> main-header}}

<div class="card mx-auto">
    <div class="card-header">
        <span>Sign Up</span>
    </div>

    <div class="card-body">
        <form class="signup-form">
            <div>
                <label for="username-signup">Username</label>
                <br>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Password</label>
                <br>
                <input type="password" id="password-signup" />
            </div>
            <br>
            <div>
                <button type="submit">Sign Up!</button>
            </div>
        </form>
        <p>
        <a href="/login">Login instead</a>
        </p>
    </div>
</div>

<script src="/js/signup.js"></script>