{{> main-header}}

<article class="post">
    {{!-- Show the post --}}
    {{> post-info post}}
</article>

{{!-- Show the form to add a comment --}}
{{#if loggedIn}}
<div class="card mx-auto">
    <div class="card-header">
    </div>

    <div class="card-body">
        Comment
        <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
        </form>
    </div>
</div>
{{/if}}

{{!-- Show existing comments --}}
{{> comments post.comments}}

{{!-- JS to add a comment is only necessary if the user is logged in --}}
{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}