/* Styles for the views */

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #D9EAD3;
}

/* Remove decoration from all anchor tags */
a {
  text-decoration: none;
}

.jumbotron {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #231010;
  border-radius: .3rem;  
}

header h1 {
  font-size: 4em;
  background-color: #D9EAD3;
  color: #231010;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #A7A7A7;
  display: inline-block;
  margin-left: 1em;
}

header a {
  color: #231010;
  font-weight: bold;
  transition: color .1s;
  padding: 1rem;
}

header a:hover {
  color: #231010
}

nav {
  margin-left: 3em;
}

.nav-link {
  font-size: 1.5em;
  color: #D9EAD3;
  padding: 0 1rem;
}

.nav-link:hover {
  color: #D9EAD3;
}

nav a {
  color: #D9EAD3;
  font-weight: bold;
  transition: color .1s;
}

nav a:hover {
  color: #D9EAD3;
}

/* Card styles; many items (posts, forms) are implemented as the card class */
.card {
  width: 90%;
  margin: 0 0 1em 3em;
  border: 2px solid #231010; 
}

.card-header {
  background-color: #231010;
  color: #D9EAD3;
  height: 50px;
  padding-left: 0.5em;
  font-weight: bold;
}

.card-body {
  background-color: #D9EAD3;
  color: #231010;
  font-size: 1.5em;
  margin-left: 1em;
}

.author {
  float: right;
}

.card-header a {
  margin-left: 0.5em;
  color: #D9EAD3;
  font-weight: bold;
  transition: color .1s;
  font-size: 2em;
}

.card-header a:hover {
  color: #D9EAD3;
}

.card-header span {
  font-size: 2em;
}

/* Styling the text inputs */
textarea, input {
  width: 50%;
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #231010;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

/* Button styles */
button {
  background-color: #666666;
  border: 0;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
  width: 51%;
  font-size: 1em;
}

button:hover {
  background-color: #231010;
}

#new-post-btn {
  background-color: #231010;
  border: 1px solid #231010;
  padding: 0.1em;
  color: #D9EAD3;
  border-radius: 5px;
  margin-left: 1.5em;
  width: 10%;
  font-size: 2em;
  /* Keeps "+ New Post" from collapsing onto more than one line */
  min-width: 225px;
}

.toggle {
  display: none;
}

/* This is used to move the creation date of a post on the dashboard to the right */
.right {
  float: right;
}

.posts {
  margin-left: 3em;
}